<div class="mission-list-wrap">
  <div class="mdl-card mdl-shadow--2dp block-transition-500ms" (mouseenter)="mouseHover = i" (mouseleave)="mouseHover = null"
       [class.mdl-shadow--6dp]="mouseHover === i" *ngFor="let list of missionList; let i =index;">
    <div class="mdl-card__title">
      <span class="mission-list-size">{{list.size}}</span>
    </div>
    <div class="mdl-card__supporting-text"><i class="material-icons">extension</i>{{list.title}}</div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-js-button mdl-button--primary" (click)="modal.open()">Start</a>
    </div>
    <div class="mdl-card__menu">
      <div class="mdl-card__supporting-text"><i class="material-icons">local_offer</i>{{list.id}}</div>
    </div>
  </div>
</div>
<app-modal #modal>
  <div class="modal-content">
    <div class="header">
    </div>
    <div class="content">
      <p>Your inbox is getting full, would you like us to enable automatic ar</p>
    </div>
    <div class="actions">
      <button (click)="modal.close()">bbb</button>
    </div>
  </div>
</app-modal>
