<div class="mission-list-wrap">
  <div class="mdl-card mdl-shadow--2dp" *ngFor="let list of missionList">
    <div class="mdl-card__title">
      <span class="mission-list-size">{{list.size}}</span>
    </div>
    <div class="mdl-card__supporting-text"><i class="material-icons">extension</i>{{list.title}}</div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Start</a>
    </div>
    <div class="mdl-card__menu">
      <div class="mdl-card__supporting-text"><i class="material-icons">local_offer</i>{{list.id}}</div>
    </div>
  </div>
</div>
