<div class="ui dimmer modals page transition" [ngClass]="{'animating fade in visible active' : show}"
     [ngClass]="{'animating fade out visible active' : !show}">
  <div class="ui small basic modal transition" [ngClass]="{'animating scale in visible active' : show}"
       [ngClass]="{'animating scale out visible active' : !show}">
    <div class="header">
      <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
    </div>
    <div class="content">
      <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
    </div>
    <div class="actions">
      <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
      <button (click)="show = false">bbb</button>
    </div>
  </div>
</div>
<!--<div class="ui dimmer modals page transition visible active">-->
<!--<div class="ui small basic modal transition visible active" style="margin-top: -128px;">-->
<!--<div class="header">-->
<!--<p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>-->
<!--</div>-->
<!--<div class="content">-->
<!--<p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>-->
<!--</div>-->
<!--<div class="actions">-->
<!--<p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
