<div class="mdl-card mdl-shadow--2dp">
  <table class="mission-data-wrap">
    <tr>
      <td>
        <table class="mission-result">
          <tr *ngFor="let tr of missionData.data">
            <td *ngFor="let td of tr">
              <div class="data-block" [style.background-color]="td.status === 0 ? td.color : 'transparent'"
                   [style.width.px]="missionData.option.size/5" [style.height.px]="missionData.option.size/5"></div>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <ul class="hint-col-wrap cf">
          <li *ngFor="let col of hintData.col">
            <div class="hint-block" *ngFor="let hint of col" [style.width.px]="missionData.option.size">{{hint}}</div>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <ul class="hint-row-wrap">
          <li class="cf" *ngFor="let row of hintData.row">
            <div class="hint-block" *ngFor="let hint of row" [style.height.px]="missionData.option.size"
                 [style.line-height.px]="missionData.option.size">{{hint}}
            </div>
          </li>
        </ul>
      </td>
      <td>
        <table class="data-block-wrap">
          <tr *ngFor="let tr of missionData.data">
            <td *ngFor="let td of tr">
              <div class="data-block" [style.background-color]="td.status === 0 ? td.color : 'transparent'"
                   [style.width.px]="missionData.option.size" [style.height.px]="missionData.option.size"
                   (mousedown)="changeStatus(td,$event)">
                <i class="material-icons" [style.line-height.px]="missionData.option.size" [class.error]="td.status === 4 ? 'red' : ''"
                   [style.font-size.px]="missionData.option.size/2" [hidden]="td.status !== 2 && td.status !== 4">clear</i>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">reset</a>
    <!--<div>life: {{missionData.option.life}}</div>-->
  </div>
</div>


