@import "../../../values";

.mission-data-wrap {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  max-width: @containerWidth;
}

.hint-col-wrap {
  float: left;
  li {
    display: table-cell;
    vertical-align: bottom;
  }
  .hint-block {
  }
}

.hint-row-wrap {
  float: left;
  li {
    text-align: right;
  }
  .hint-block {
    display: inline-block;
  }
}

.data-block-wrap {
}

.data-block, .hint-block {
  width: 50px;
  height: 50px;
}
