<div class="mission-data-wrap">
  <ul class="hint-col-wrap cf">
    <li *ngFor="let col of hintData.col">
      <div class="hint-block" *ngFor="let hint of col">{{hint}}</div>
    </li>
  </ul>
  <ul class="hint-row-wrap">
    <li class="cf" *ngFor="let row of hintData.row">
      <div class="hint-block" *ngFor="let hint of row">{{hint}}</div>
    </li>
  </ul>
  <table class="data-block-wrap">
    <tr *ngFor="let tr of missionData.data">
      <td *ngFor="let td of tr">
        <div class="data-block" [style.background-color]="td.color"></div>
      </td>
    </tr>
  </table>
</div>
